:root {
    /* Colors */
    --color-text: #fff;
    --color-primary: #5BA199;
    --color-secondary: #BBC6C8;
    --color-dark: #469597;
    --color-bg: #E5E3E4;

    /* Fonts */
    --font-roboto: "Roboto";
}