@import "../../vars.css";

.container {
    color: var(--color-text);

    margin-top: 5rem;
    background-color: var(--color-secondary);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100vw;
    padding: 2rem 10%;
    gap: 0.5rem;
}

.text h2 {
    font-size: 4rem;
    font-weight: 700;

    letter-spacing: 0.1rem;
}

.text p {
    font-size: 2rem;
    font-weight: 400;

    letter-spacing: 0.05rem;
}